@{
    var isAuth = Context.User?.Identity?.IsAuthenticated ?? false;
    var name = isAuth ? Context.User?.Identity!.Name : null;
    var isLogin = Context.Request.Path.StartsWithSegments("/login", StringComparison.OrdinalIgnoreCase);
}
<!doctype html>
    <html lang="da">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewData["Title"] - Simple web CMS</title>
    <link rel="stylesheet" href="/cms.css" />
    @RenderSection("Scripts", required: false)
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
    <header id="header">
        <div id="title">Simple web <b>CMS</b></div>
        <div id="user">
            @if (isAuth)
            {
                <form method="post" action="/logout" style="display:inline;">
                    @Html.AntiForgeryToken()
                    <span style="margin-right:0.5rem;">@name</span>
                    <button type="submit">Logout</button>
                </form>
            }
        </div>
    </header>
    @if (isAuth && !isLogin)
    {
        @await Html.PartialAsync("_Nav")
    }
    <main>
                @RenderBody()
    </main>
    </body>
    </html>