@{
    var isAdmin = User.IsInRole("Admin");
    string path = Context.Request.Path;
    string Active(string p) => path.StartsWith(p, StringComparison.OrdinalIgnoreCase) ? "is-active" : "";
}
<nav id="main-nav" aria-label="Main">
    <div>
        <ul>
            <li>
                <a class="@(Active("/pages"))" href="@Url.Action("Index","Pages")" title="Pages">
                    <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
                        <use href="/icons.v1.svg#i-pages"></use>
                    </svg>
                    <span>Pages</span>
                </a>
            </li>

            @if (isAdmin)
            {
                <li>
                    <a class="@(Active("/template"))" href="@Url.Action("Index","Template")" title="Templates">
                        <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
                            <use href="/icons.v1.svg#i-templates"></use>
                        </svg>
                        <span>Templates</span>
                    </a>
                </li>
            }

            <li>
                <a class="@(Active("/media"))" href="@Url.Action("List","Media")" title="Images">
                    <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
                        <use href="/icons.v1.svg#i-images"></use>
                    </svg>
                    <span>Images</span>
                </a>
            </li>

            @if (isAdmin)
            {
                <li>
                    <a class="@(Active("/users"))" href="@Url.Action("Index","Users")" title="Users">
                        <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
                            <use href="/icons.v1.svg#i-users"></use>
                        </svg>
                        <span>Users</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>