@model cms.Models.PresetFormVm
@{
    ViewData["Title"] = "Rediger preset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="backlink" href="@Url.Action("Index","MediaPreset")">
    <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
        <use href="/icons.v1.svg#i-back"></use>
    </svg>
    Tilbage
</a>
<h1>Rediger preset</h1>

<form method="post" action="/media/preset/@Model.OriginalName">
    @Html.AntiForgeryToken()
    <input type="hidden" name="OriginalName" value="@Model.OriginalName" />

    <fieldset>
        <label class="form-label">Navn (slug)</label>
        <input name="Name" class="form-control" value="@Model.Name" />
        @Html.ValidationMessage("Name", new { @class="text-danger" })
    </fieldset>
    
        <fieldset>
            <label class="form-label">Width</label>
            <input type="number" name="Width" class="form-control" value="@Model.Width" min="0" />
        </fieldset>
        <fieldset>
            <label class="form-label">Height</label>
            <input type="number" name="Height" class="form-control" value="@Model.Height" min="0" />
        </fieldset>

    <fieldset>
        <label class="form-label d-block">Typer</label>
        @foreach (var t in Model.AllowedTypes)
        {
            var isChecked = Model.Types?.Contains(t, StringComparer.OrdinalIgnoreCase) ?? false;
            <label class="me-3">
                <input type="checkbox" name="Types" value="@t" @(isChecked ? "checked" : null) /> @t
            </label>
        }
        @Html.ValidationMessage("Types", new { @class="text-danger d-block" })
    </fieldset>

    <button class="btn btn-primary" type="submit">Gem</button>
</form>